header{
	background-color:#00688B;
	border-bottom: 2px solid #00688B;
	box-shadow: 5px 5px 16px #888888;
	position: fixed;
	width:100%;
}

body{
	padding:0; /* streching background on header*/
	margin:0;
}
#logo{
	float: left;
	margin-top:-28px;
	width:40%;
}

/* Menu bar */
nav{
	text-align: left;
	width:100%;
	padding-top:40px;
	padding-bottom:30px;
	padding-left: 20px;
}

nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: block;
	width:60%;
	float:right;
	text-align:right;
}

nav ul li{
    display: inline;
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 17px;
	border-right: 1px solid #0AE;
	width:100%;
}

.last{
	border-right: none;
	padding-right:10px;
}

nav ul li a {
	text-decoration: none;
	margin-left: 30px;
	margin-right: 30px;
	color:#ecf0f1;
}

nav ul li a:hover {
	text-decoration: none;
	margin-left: 30px;
	margin-right: 30px;
	color:#c5cbcc;
}

/*Hovedinnhold*/
.main-content{
	margin-top:130px;
	float:left;
	width:70%;
	display:inline-block;
}
.placeMain-content{
	padding:30px;
}

/*Top Rated Shows*/
.additional-content{
	margin-top:160px;
	float:right;
	width:30%;
	display:inline-block;
}

.placeAdditional-content{
	padding:30px;
}

#TopRated{
	margin-bottom:20px;
	font-family: 'Rajdhani', sans-serif; 
	color: #210c2d;
}

.additional-content ul li{
	list-style: none;
}

.additional-content img{
	width: 100px;
}

/*Tv show info start*/
h1{
	font-family: 'Rajdhani', sans-serif;
	color: #333131;
	margin-top:0;
}

h3{
	font-family: 'Rajdhani', sans-serif; 
	color: #000000;
	margin-top:50px;
}

h4{
	font-family: 'Rajdhani', sans-serif; 
	color: #333131;
	font-size:16px;
}

.review{
	float:right;
	position:inline-block;
	width:60%;
}

.text{
	width:100%;
	background-color: #CDC9C9;
	color: #000000;
	border: 2px solid #CDC9C9;
	box-shadow: 5px 5px 16px #888888;
	padding: 10px;
    
	font-family: 'Oxygen', sans-serif;
	font-size:13px; 
	text-align: left;
	line-height: 150%;
}

.reviewText{
	border: 1px solid #000000;
	padding:10px;
	line-height: 150%;
	font-family: 'Oxygen', sans-serif;
	font-size:14px; 
}

.reviewText i{
	font-size:12px;
	font-family: 'Oxygen', sans-serif;
}

.placing{
	margin-left:30px;
	position:inline-block;
	width:40%;
}
/*text input felt*/
textarea{
	width:100%;
}

/*FORM*/
.form-content{
	margin-top:130px;
	width:100%;
	display:inline-block;
}
.placeForm-content{
	padding:30px;
    width: 30%;
	position: absolute;
	margin-left:400px;
}

#signup {
    padding: 0px 25px 25px;
    background: #fff;
    box-shadow: 
        0px 0px 0px 5px #ffffff, 
        0px 4px 20px #000;
    border-radius: 5px;
    display: table;
    position: static;
}

#signup .header {
    margin-bottom: 20px;
}

#signup .header h3 {
    font-size: 24px;
    margin-bottom: 5px;
	font-family: 'Rajdhani', sans-serif; 
	color: #333131;
}

#signup .header p {
    color: #8f8f8f;
    font-size: 14px;
    font-weight: 300;
	font-family: 'Oxygen', sans-serif;
}

/*line underneath p*/
#signup .line {
    height: 1px;
    background: #e8e8e8;
    width: 406px;
    margin: 0px -25px;
}

#signup .inputs {
    margin-top: 25px;
}

#signup .inputs input[type=email], input[type=password], input[type=text] {
    background: #f5f5f5;
    font-size: 13px;
    border-radius: 3px;
    border: none;
    padding: 13px 10px;
    width: 330px;
    margin-bottom: 20px;
    box-shadow: inset 0px 2px 3px #e5e3e3;
    clear: both;
}

/*Farget linje rundt input boksene*/
#signup .inputs input[type=email]:focus, input[type=password]:focus, input[type=text]:focus {
    background: #ffffff;
    box-shadow: 0px 0px 0px 3px #fff38e;
    outline: none;   
}

/*Sign up button*/
#signup .inputs #submit {
    width: 100%;
    margin-top: 20px;
    padding: 15px 0;
    color: white;
    font-size: 14px;
    
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #737b8d;
	background-color:#abb7d1;
}

#signup .inputs #submit:hover {
    border: 2px solid #737b8d;
}