div#logo{
	float: left;
}

nav{
	text-align: right;
}

nav ul {
	list-style-type: none;
	margin:0;
	padding:0;
}

nav ul li{
	float:right;
	list-style:none;
	position:relative;
}

nav ul li a{
	text-align:center;
	font-family:'Yanone Kaffeesatz', sans-serif;
	text-decoration: none;
	margin-left: 20px;
	margin-right: 20px;
	display:block;
	color: #141314;
}


/*DROPDOWN MENU*/
nav ul ul{
	position:absolute;
	visibility:hidden;
	top:30px;
	border-top: 1px solid #6b727c;
	border-bottom: 1px solid #575f6a;
	padding: 0 410px; /*linje for bred drop menu*/
	margin: 0 -1000px; /*linje for bred drop menu*/
}

nav ul ul li p{
	font-family:'Yanone Kaffeesatz', sans-serif;
	text-align:left;
}

nav ul ul li form{
	font-family:'Yanone Kaffeesatz', sans-serif;
	text-align:left;
	margin:0;
	padding:0;
	line-height:30px;
}

nav ul li:hover ul{
	visibility:visible;
	color: black; /*farge på tekst*/
	font-weight: bold;
	display: block;
	background: white;
	position: absolute;
	
}

/*SEARCH BAR*/
#newsearch{
	float:right;
	padding:20px;
	padding-top:40px;
}
	.textinput{
		margin: 0;
		padding: 5px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		color:#666;
		border:1px solid #0076a3; border-right:0px;
		border-top-left-radius: 5px 5px;
		border-bottom-left-radius: 5px 5px;
	}
	.button {
		margin: 0;
		padding: 5px 7px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		font-weight:bold;
		outline: none;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		color: #ffffff;
		border: solid 1px #0076a3; border-right:0px;
		background: #0095cd;
		background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
		background: -moz-linear-gradient(top,  #00adee,  #0078a5);
		border-top-right-radius: 5px 5px;
		border-bottom-right-radius: 5px 5px;
	}
	.button2:hover {
		text-decoration: none;
		background: #007ead;
		background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
		background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	}
	
	.clear{
		clear:both;
	}
