header{
	background-color:#00688B;
	border-bottom: 2px solid #00688B;
	box-shadow: 5px 5px 16px #888888;
}

body{
	padding:0; /* streching background on header*/
	margin:0;
}
#logo{
	float: left;
	margin-top:-28px;
}

/* Menu bar */
nav{
	text-align: right;
	width:90%;
	padding:40px;
	padding-bottom:30px;
}

form {
	text-align: right;
	display:none;
	font-family: 'Marvel', sans-serif;
	font-size:15px;
	margin-top:18px;
}

#signInButton{
	background: transparent;
	border: none;
	color: white;
	cursor: inherit;
	outline: 0;
	cursor: pointer;
	padding-right: 20px;
	
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 17px;
}

#logInButton{
	background: transparent;
	border: none;
	color: white;
	cursor: inherit;
	outline: 0;
	cursor: pointer;
	padding-right: 24px;
	
	padding-right:20px;
	padding-left:20px;
	border-right:solid 1px #0AE;
	border-left:solid 1px #0AE;
	
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 17px;
}

#mysite {
	text-decoration: none;
	color: white;
	font-family: 'Archivo Narrow', sans-serif;
	padding-left: 20px;
}

.onclick-menu-content {
	background-color: white;
	margin-top:47px;
	list-style-type: none;
	line-height:35px;
	position:absolute;
	width:88.5%;
}

/*Hovedinnhold*/
.main-content{
	margin-top:20px;
	float:left;
	width:70%;
	display:inline-block;
}
.placeMain-content{
	padding:30px;
}

/*Top Rated Shows*/
.additional-content{
	margin-top:20px;
	float:right;
	width:30%;
	display:inline-block;
}

.placeAdditional-content{
	padding:30px;
}

#TopRated{
	margin-bottom:20px;
	font-family: 'Rajdhani', sans-serif; 
	color: #210c2d;
}

.additional-content ul li{
	list-style: none;
}

.additional-content img{
	width: 100px;
}

/*Tv show info start*/
/*text input felt*/
h1{
	font-family: 'Rajdhani', sans-serif;
	color: #000000;
	margin-top:0;
}

h3{
	font-family: 'Rajdhani', sans-serif; 
	color: #000000;
	margin-top:50px;
}

h4{
	font-family: 'Rajdhani', sans-serif; 
	color: #000000;
	font-size:16px;
}

.review{
	float:right;
	position:inline-block;
	width:60%;
}

.text{
	width:100%;
	background-color: #CDC9C9;
	color: #000000;
	border: 2px solid #CDC9C9;
	box-shadow: 5px 5px 16px #888888;
	padding: 10px;
    
	font-family: 'Oxygen', sans-serif;
	font-size:13px; 
	text-align: left;
	line-height: 150%;
}

.reviewText{
	border: 1px solid #000000;
	padding:10px;
	line-height: 150%;
	font-family: 'Oxygen', sans-serif;
	font-size:14px; 
}

.placing{
	margin-left:30px;
	position:inline-block;
	width:40%;
}

textarea{
	width:100%;
}